body{
	color: $body-color;
	font-size: 1.6rem;
}

/* Type */

h1,h2,h3,h4,h5,h6{
	color: $headline-color;
	line-height: 1;
	margin: 2em 0 0.5em 0;
}

h1{
	margin: 0 0 1em 0;
}

h2{
}

h3{
}

p{
	margin: 1em 0;
}

a{
	color: $link-color;
}

blockquote{
	
}

/* Breadcrumbs */

.breadcrumbs{
	
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		
		li{
			float: left;
			
			& + li{
				&:before{
					content: "\00B7";
					display: block;
					float: left;
					margin: 0 0.5em;
				}
			}
		}
		
		a{
			text-decoration: none;
		}
	}
}


/* Button styles */

.button{
	background: $link-color;
	color: $body-color;
	transition: all 0.3s;
	
	&:hover{
	}
}

.button-ghost{
	background: none;
	border: 1px solid $link-color;
	color: $link-color;
	transition: all 0.3s;
	
	&:hover{
		background: $link-color;
		color: $body-color;
	}
}
